$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #d30102;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: $base03;
  color: $base1;
}

ol, ul {
  padding-left: 30px;
}

.config {
  margin-bottom: 20px;
}

.dim {
  &:before {
    content: 'Size: '
  }

  select {
    border: none;
    background: $orange;
    color: $base03;
    font-size: 14px;
    font-weight: bold;

    &:focus {
      outline: none;
    }
  }
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  align-self: flex-start;
  border: 2px solid $yellow;
  padding-top: 1px;
  padding-right: 1px;
  border-radius: 5px;
  background: $base2;
}

.board-row {
  &:first-child {
    .square:first-child {
      border-top-left-radius: 3px;
    }
    .square:last-child {
      border-top-right-radius: 3px;
    }
  }

  &:last-child {
    .square:first-child {
      border-bottom-left-radius: 3px;
    }
    .square:last-child {
      border-bottom-right-radius: 3px;
    }
  }

  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.square {
  color: $base02;
  border: 1px solid $yellow;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-top: -1px;
  margin-right: -1px;
  text-align: center;
  width: 34px;
  cursor: default;

  &.empty {
    cursor: pointer;
  }

  &.win {
    background: $cyan;
  }
}

.game-info {
  margin-left: 20px;
}

.status {
  margin-bottom: 10px;
}

.moves {
  .reverse {
    border: none;
    background: $orange;
    color: $base03;
    padding: 1px;
    margin-left: 5px;

    &:focus {
      outline: none;
    }
  }

  ol {
    margin-top: 2px;
  }

  li {
    margin: 2px 0;
  }

  button {
    border: none;
    background: $base00;
    color: $base03;

    &:focus {
      outline: none;
    }
  }

  .current button {
    background: $yellow;
    font-weight: bold;
  }
}
